body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid #000;
}



.col-md-8{

    left: 27.5%;
}

h1 {
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
}

#colorPicker {
    width: 100%;
}
